<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlowCare | Radiant Skincare</title>
    <link rel="stylesheet" href="styles.css">
   
    <header class="navbar glass">
        <div class="logo">GlowCare</div>
        <nav class="nav-links">
            <a href="/src/view/home/home.html">Home</a>
            <a href="#">Shop</a>
            <a href="#">Blog</a>
            <a href="#">About</a>
        </nav>
       
<div class="nav-actions">  
    <div class="auth-buttons">
        <a href="/auth/login" class="btn-outline">Sign In | </a>
        <a href="/auth/register" class="btn-primary-sm">Register</a>
    </div>
</div>
    </head>
<body>
    

</body>
</html>  -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GlowCare | Radiant Skincare</title>
    <link rel="stylesheet" href="/src/view/home/Hstyle.css">

</head>
<body>
    <header class="navbar glass">
        <div class="logo">GlowCare</div>
        <nav class="nav-links">
            <a href="/src/view/home/home.html">Home</a>
            <a href="./shop/shop.html">Shop</a>
            <a href="">Blog</a>
            <a href="#">About</a>
        </nav>
       
<div class="nav-actions">
    <div class="auth-buttons">
        <a href="/auth/login" class="btn-outline">Sign In | </a>
        <a href="/auth/register" class="btn-primary-sm">Register</a>
    </div>
</div>
</header>
</body>
</html>